.SecondsCounter {
  margin: 0;
  padding: 0;
  text-align: center;
  /* color: orangered; */
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.SecondsCounter p {
  margin: 0;
  padding: 0;
  font-size: 16rem;
}