.NumberInput {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.NumberInput-container {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: center;
}

.NumberInput input {
  text-align: left;
  padding-left: .25rem;
  border: none;
  background-color: #ffd394;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  padding-left: .4rem;
  font-size: 1.1rem;
  width: 3rem;
}

.NumberInput label {
  text-align: left;
  padding: 0 1rem 0 0;
  margin: 0;
  font-weight: bold;
  font-size: 1.2rem;
}

.NumberInput button {
  margin-top: 3rem;
  padding: .75rem 2rem;
  font-size: 1.1rem;
  background-color: orangered;
  color: white;
  width: 14rem;
  border: none;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.NumberInput Button:hover,
.NumberInput Button:active {
  background-color: tomato;
}

.NumberInput Button:active {
  transform:translateY(1px);
}


@media (min-width: 49em) {
  .NumberInput label {
    font-size: 1.6rem;
  }

  .NumberInput input {
    font-size: 1.6rem;
    width: 4rem;
  }
}